@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-white: #f8f9fe;
  --background-card: #f0f3fa;
  --background-card-hover: #e0e2ef;
  --color-primary: #898c9b;
  --color-white: #efeff7;
  --color-black: #1d2027;
  --color-black-secondary: #64677a;
  --color-green: hsl(163, 72%, 41%);
  --color-red: hsl(356, 69%, 56%);
  --toggle-gradient: #a0a4bd;
}

.dark {
  --background-white: #20222f;
  --background-card: #252b43;
  --background-card-hover: #333a56;
  --color-primary: #898c9b;
  --color-white: #282945;
  --color-black: #efeff7;
  --color-black-secondary: #818aa7;
  --toggle-gradient: linear-gradient(
    90deg,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  );
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: var(--color-primary);
  background-color: var(--background-white);
  transition-property: all;
  transition-duration: 0.3s;
}

header {
  margin-bottom: 45px;
  padding-top: 40px;

  @media (min-width: 1110px) {
    max-width: 1110px;
    margin: 10px auto 22px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #898c9b;

    @media (min-width: 1110px) {
      border: none;
      margin-bottom: 0;
    }

    h1 {
      color: var(--color-black);
      margin-bottom: 14px;

      @media (min-width: 1110px) {
        margin-bottom: -4px;
      }
    }

    p {
      color: var(--color-black-secondary);
      font-weight: 600;
    }
  }

  & .dark-mode {
    color: var(--color-black-secondary);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1110px) {
      display: flex;
      column-gap: 14px;
      align-items: center;
      margin-top: -24px;
    }
  }
}

.toggle {
  width: 44px;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--toggle-gradient);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;

  & .circle {
    background-color: var(--color-white);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    pointer-events: none;
  }
}

.toggle.active {
  justify-content: left;
}

main {
  @media (min-width: 1110px) {
    max-width: 1110px;
    margin: 0 auto;
  }

  & .todays-overview {
    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--color-black-secondary);
      margin-bottom: 32px;

      @media (min-width: 1110px) {
        margin-bottom: 26px;
      }
    }
  }
}

.followers-container {
  margin-bottom: 50px;

  @media (min-width: 1110px) {
    margin-bottom: 30px;
    display: flex;
    column-gap: 30px;
    justify-content: space-evenly;
  }

  & .followers-card {
    background-color: var(--background-card);
    margin-bottom: 24px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 25px 0;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: all;

    .gradient {
      margin-bottom: 25px;
      height: 4px;
    }

    .social-network-wrapper {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }

    .total-followers {
      font-size: 56px;
      font-weight: 600;
      color: var(--color-black);
      margin-bottom: -14px;
    }

    .total-followers-text {
      color: var(--color-black-secondary);
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 10px;
      font-size: 12px;
    }

    .todays-followers-container {
      color: hsl(163, 72%, 41%);
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      img {
        display: inline-block;
      }
    }

    .social-user-handle {
      font-weight: 500;
      color: var(--color-black-secondary);
    }
  }

  .followers-card:hover {
    background-color: var(--background-card-hover);
  }
}

.todays-overview-container {
  @media (min-width: 1110px) {
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 74px;
  }

  & .today-card {
    background-color: var(--background-card);
    border-radius: 5px;
    padding: 22px 28px;
    margin-bottom: 16px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: all;

    @media (min-width: 1110px) {
      margin-bottom: 0;
    }

    .overview-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      @media (min-width: 1110px) {
        margin-bottom: 14px;
      }
    }

    .total-percentage-wrapper {
      font-weight: 600;
      display: flex;
      justify-content: center;
      column-gap: 4px;
      align-items: center;
    }

    .overview-totals {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .total {
        font-size: 32px;
        font-weight: 600;
        color: var(--color-black);
      }
    }
  }

  .today-card:hover {
    background-color: var(--background-card-hover);
  }
}
